/* Propiedades de fuentes  */
@font-face {
  font-family: titulares;
  src: url(fuentes/titulares.ttf);
}
/* Estilos generales */
body{
    background:rgb(240,240,240);
    color:#1b1b1b;
    font-family: sans-serif;
}
header,main,footer{
    width:1200px;
    margin:auto;
    padding-top:30px;
    padding-bottom:30px;
}
section{
    clear:both;
}
section h3{
    text-align:center;
    font-family: titulares;
    padding-top:40px;
    font-size:30px;
}
/* Estilos de la cabecera */
h1{
    color:cadetblue;
}
header>img{
    width:64px;
    display:inline-block;
    float:left;
    margin-right:10px;
}
header nav img{
    width:24px;
    position:relative;
    top:5px;
}
h1,h2{
    padding:0px;
    margin:0px;
    font-family:titulares;
    font-weight:normal;
}
header nav ul{
    list-style-type:none;
    padding:0px;
    margin:0px;
    text-align:right;
}
header nav ul li{
    display:inline-block;
    line-height:24px;
    padding:10px;

}
header nav ul li a{
    color:inherit;
    text-decoration:none;
    text-transform:uppercase;
    font-weight: bold;
}
nav{
    margin-top:30px;
    margin-bottom:30px;
}
h1{
    padding-top:10px;
}
/* Estilos del pase de diapositivas */
main #proyecto article:nth-child(2){
    background:url("../img/pancarta1.jpg");
    background-size:cover;
    background-position:center center;
} 
main #proyecto article:nth-child(3){
    background:url("../img/pancarta2.jpg");
    background-size:cover;
    background-position:center center;
} 
main #proyecto article:nth-child(4){
    background:url("../img/pancarta3.jpg");
    background-size:cover;
    background-position:center center;
} 
main #proyecto article:nth-child(5){
    background:url("../img/pancarta4.jpg");
    background-size:cover;
    background-position:center center;
} 
main #proyecto article{
    height:400px;
    text-align:center;
    line-height:50px;
    padding-top:100px;
    box-sizing: border-box;
}
main #proyecto article h4{
    font-size:40px;
    font-family: titulares;
   
}
main #proyecto{
    width:4800px;
    animation:diapositivas 40s;
    position:relative;
}
main #proyecto article{
    width:1200px;
    float:left;
}
@keyframes diapositivas{
    0%{left:0px;}
    20%{left:0px;}
    25%{left:-1200px;}
    45%{left:-1200px;}
    50%{left:-2400px;}
    70%{left:-2400px;}
    75%{left:-3600px;}
    95%{left:-3600px;}
    100%{left:0px;}
}
main{
    overflow:hidden;
}
/* Artículos de la sección de valores */
main #valores article{
    clear:both;
    padding-bottom:20px;
    padding-top:20px;
    text-align: justify;
}
main #valores img{
    width:30%;
    float:left;
    margin-right:20px;
    border-radius:5px;
}
main #valores h4{
    font-family: titulares;
    font-size:30px;
}
main #valores article:nth-child(odd) img{
    width:30%;
    float:right;
    margin-right:50px;
    margin-left:50px;
}
/* Maquetación de "quienes somos" */
main #quienessomos article{
    display:inline-block;
    width:33%;
    text-align:center;
}
main #quienessomos article img{
    width:50px;
    border-radius:50px;
}





