main nav,main #principal,main aside{
    display:inline-block;
    vertical-align: top;
}
main nav{
    width:25%;
}
main #principal{
    width:50%;
}
main aside{
    width:24%;
}
main #principal article{
    border-bottom:1px solid rgb(220,220,220);
    clear:both;
    padding-top:20px;
}
.izquierda,.derecha{
    display:inline-block;
    vertical-align: top;
}
main #principal article .izquierda{
    width:20%;
}
main #principal article .derecha{
    width:79%;
}
main #principal article .categorias p{
    display:inline-block;
    padding:5px;
    background:rgb(220,220,220);
    border-radius:5px;
}
main #principal article h4,main #principal article p{
    padding:5px;
    margin:5px;
}